<nav>
    <ul>
        <li><a class="menuLink" href="/eshop/index">Hem</a></li>
        <li><a class="menuLink" href="/eshop/customers">Kunder</a></li>
        <li><a class="menuLink" href="/eshop/orders">Ordrar</a></li>
        <li><a class="menuLink" href="/eshop/category">Kategorier</a></li>
        <li><a class="menuLink" href="/eshop/products">Produkter</a></li>
        <li><a class="menuLink" href="/eshop/about">Om</a></li>
    </ul>
</nav>