<%- include('partials/head'); %>
<html>
<body>
    <div class="flexboxCenter bg-green">
        <header>
            <h1>BuckStar</h1>
            <%- include('partials/menu'); %>
        </header>
    </div>

    <div class="flexboxCenter">
        <article>
            <h3>Utvecklare:</h3>
            <br>
            <ul>
                <li>Petter Johansson (Fullstack Developer)</li>
            </ul>
        </article>
    </div>
    <%- include('partials/footer'); %>
</body>
</html>