<%- include('partials/head'); %>
<body>
    <div class="flexboxCenter bg-green">
        <header>
            <h1>BuckStar</h1>
            <%- include('partials/menu'); %>
        </header>
    </div>

    <div class="flexboxCenter">
        <article>
            <h3>Välkommen till BuckStar</h3>
            <br>
            <p>Ovan har du en meny där du kan se vilka produkter vi har inne på lager för tillfället, samt vilka kategorier våra produkter
            är kategoriserade efter!</p>
        </article>
    </div>

    <%- include('partials/footer') %>
</body>